
/* @import '~antd/dist/antd.css';  */
input[type="radio"] {

}
 .ant-radio-button-wrapper:first-of-type {
    left: 0;
}
.ant-radio-button-wrapper {
    border: 1px;
    border-radius: 50px;
    /* font-size: 2.1em; */
    height: 2em;
} 
 input {
    cursor: pointer;
} 
 .ant-radio-button-wrapper-checked{

}
